@font-face {
  font-family: "Barlow";
  src: url("./Barlow-LightItalic.woff2") format("woff2"),
    url("./Barlow-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("./Barlow-Light.woff2") format("woff2"),
    url("./Barlow-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("./Barlow-Regular.woff2") format("woff2"),
    url("./Barlow-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("./Barlow-Bold.woff2") format("woff2"),
    url("./Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("./Barlow-LightItalic.woff2") format("woff2"),
    url("./Barlow-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("./Barlow-Bold.woff2") format("woff2"),
    url("./Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
