@import '@/styles/base-imports';

.container {
  padding-top: 4rem;
  padding-inline: 2rem;

  @include desktop {
    padding-inline: 4rem;
  }
}



.contentContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: 10fr 2fr;

  @include desktop {
    grid-template-columns: auto minmax(0, 8fr) minmax(0, 2fr);
  }
}