@import "@/styles/base-imports";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: $primary;

  // &__link {
  //   &--active {
  //     background: #d3e5f2 0% 0% no-repeat padding-box;
  //   }

  //   &:hover {
  //     background: #d3e5f2 0% 0% no-repeat padding-box;
  //     cursor: pointer;
  //   }

  //   @include tablet {
  //     font-size: 1em;
  //   }

  //   @media print {
  //     display: none;
  //   }
  // }

  .trigger {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    color: nth($onn-blues, 1);
    font-size: 19px;
    padding-block: 0.5rem;
    border-top: 2px solid lightgray;

    &>a {
      font-weight: bold;
      padding-block: 0.5rem;
      display: block;
      display: flex;

      justify-content: space-between;
      color: $primary;
      gap: 3rem;
    }

    .icon {
      color: lightgray;
      width: 1rem;
    }
  }

  .articleList {
    list-style: none;
    padding-left: 1rem;
    margin-bottom: 2rem;

    @include tablet {
      padding-left: 0;
    }

    .articleListItem {
      display: flex;
      gap: 1rem;
      font-size: 19px;
      font-style: italic;
      color: $primary;
      font-weight: 900;

      &.active {
        @include tablet {
          outline: 2px solid nth($onn-blues, 3);
          background: rgba(nth($onn-blues, 3), 0.1);
          padding: 0.5rem;
          border-radius: 6px;
        }
      }

      &>a {
        color: inherit;
      }

      &:not(:first-child) {
        margin-top: 1rem;
      }

      &::before {
        content: ">";
      }
    }
  }

  &:last-of-type {
    .trigger {
      border-bottom: 2px solid lightgray;
    }
  }
}