@import '@/styles/base-imports';

.container {
  position: relative;
  transform-origin: 50% 50%;

  .figureParent {
    position: relative;
    height: 100%;
  }

  img {
    object-fit: cover;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    padding-inline: 1rem;
    padding-block: 1.5rem;
    font-size: 1.05rem;
  }
}